<div *ngIf="!foodIsSelect; else isFoodBlock" class="form-food-edit">
  <div class="form-food-heading">
    <span>Create Ticket</span>
  </div>

  <form [formGroup]="formListFoods" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Food(s):</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Foods split by comma (,)"
        formControlName="listFood"
        required
      />

      &nbsp;&nbsp;
    </div>
    <div class="submit">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!formListFoods.valid"
        [class.isDisabled]="!formListFoods.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<ng-template #isFoodBlock>
  <div class="form-food-edit">
    <div class="form-food-heading">
      <span>Edit Ticket</span>
    </div>

    <form [formGroup]="formEditValue" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">ID:</label>
        <input
          type="text"
          class="form-control"
          id="id"
          placeholder="ID"
          value="{{ foodIsSelect.id }}"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="name"
          placeholder="Name"
          required
        />
      </div>

      <div class="btn-form">
        <button
          type="submit"
          class="btn btn-success"
          (click)="foodIsSelect = ''"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!formEditValue.valid"
          [class.isDisabled]="!formEditValue.valid"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      &nbsp;&nbsp;
    </form>
  </div>
</ng-template>
