<div class="foods">
  <div class="foods-heading">
    <span>Manage Foods</span>
  </div>
  <div class="foods-container">
    <div class="foods-list">
      <div class="foods-list-title">
        <span>List Foods</span>
      </div>
      <ul>
        <li *ngFor="let food of foods; let idx = index">
          <a [class.active]="idx === activeIndex">
            <span class="badge" (click)="onSelectFood(food, idx)">{{
              food.id
            }}</span>
            {{ food.name }}
          </a>
          <button
            type="button"
            class="delete"
            title="delete food"
            (click)="openDialog(food)"
          >
            x
          </button>
        </li>
        <ng-template [ngIf]="isLoading">
          <app-loading></app-loading>
        </ng-template>
      </ul>
    </div>
    <div>
      <app-food-form
        (isClickSubmit)="clickSubmit($event)"
        (isClickEditSubmit)="clickEditSubmit($event)"
        [foods]="foods"
        [foodIsSelect]="food"
      ></app-food-form>
    </div>
  </div>
</div>
