<div class="foods">
  <div class="foods-heading">
    <span>Manage Foods</span>
  </div>
  <div class="foods-container">
    <div>
      <app-food-form
        (isClickSubmit)="clickSubmit($event)"
        (isClickEditSubmit)="clickEditSubmit($event)"
        [foods]="foods"
        [foodIsSelect]="food"
      ></app-food-form>
    </div>
    <div class="foods-list">
      <div class="foods-list-title">
        <span>List Foods</span>
      </div>
      <ul>
        <ng-template ngFor let-food [ngForOf]="foods" let-idx="index">
          <div class="li-food">
            <li (click)="onSelectFood(food, idx)">
              <a [class.active]="idx === activeIndex">
                <span class="badge">{{ food.id }}</span>
                {{ food.name }}
              </a>
            </li>
            <button
              type="button"
              class="delete"
              title="delete food"
              (click)="openDialog(food)"
            >
              x
            </button>
          </div>
        </ng-template>
        <ng-template [ngIf]="isLoading">
          <app-loading></app-loading>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
