.guests {
  margin: 0 0 2em 0;

  padding: 0;
}
.guests .guests-heading {
  text-align: center;
  color: #369;
  font-size: 25px;
}
.guests .guests-list .guests-list-title {
  text-align: center;
  color: #2c3a41;
  font-size: 20px;
  font-weight: 900;
}
.guests h2 {
  text-align: center;
}

.guests .guests-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  width: 800px;
}
.guests .guests-list {
  /* width: fit-content; */
  min-width: 188px;
}
.guests .guests-list ul {
  list-style-type: none;
  width: 100%;
  margin-left: -20px;
}
input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.guests li {
  position: relative;
  cursor: pointer;
  margin: 16px 0;
}

.guests li:hover {
  left: 0.1em;
}

.guests .guests-list a {
  color: #333;
  text-decoration: none;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 2em;
  border-radius: 4px;
  display: block;
  width: 100%;
}
.guests .guests-list a span {
  text-align: center;
  margin-bottom: 5px;
}
/* 
.guests a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
} */

.guests a:active {
  background-color: #525252;
  color: #fafafa;
}

.guests .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 1em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.1em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
  /* padding: 0.5rem 1.5rem; */
  padding: 0;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545c;
}

button.delete {
  position: absolute;

  right: -15px;
  top: -5px;

  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 7px 3px 7px;
  border: none;
  border-radius: 50%;
  background-color: #eee;
  font-size: 13px;
}

button.btn-remove:hover {
  transition: ease-in-out 0.2s;
  background-color: #525252;
  color: #fff;
}

@media only screen and (max-width: 860px) {
  .guests .guests-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: auto;
  }
  .guest .guests-list {
    width: 100px;
  }
}
.guests .container {
  width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.guests .container table,
th,
td {
  border: 1px solid;
  padding: 10px 10px;
  border: none;
}
.guests .container table thead tr {
  background-color: rgb(2, 89, 95);
  color: #fff;
}
.guests .container table thead tr:last-child,
.guests .container table thead tr:first-child {
  margin: 0 25px;
}
.guests .container table thead tr .last-col {
  width: 100px;
}
.guests .container table tr:nth-child(even) {
  background: #e6e6e6;
}
.guests .container table tr:hover {
  background-color: rgb(155, 189, 189);
  transition: ease-in 0.2s;
  color: #fff;
}
.guests .container table tr:hover .btn-edit {
  transition: ease 0.2s;
  background-color: rgb(5, 111, 199);
}
.guests .container table {
  width: 100%;
  border: #ddd solid 1px !important;
  border-spacing: 2px !important;
}
.guests .container table .btn-edit {
  background-color: rgb(31, 156, 156);
  color: #fff;
  font-size: 12px;
}
.guests .container table .btn-edit a {
  text-decoration: none;
  color: #fff;
  font: 12px;
  background-color: unset !important;
}
.guests .container table .btn-remove {
  background-color: rgb(197, 75, 38);
  color: #fff;
  font-size: 12px;
}
.guests .container table tr button {
  padding: 4px !important;
  font-size: 15px !important;
  padding-bottom: 0px !important;
}
.guests .container table tr button .mat-icon {
  font-size: 20px;
}
.guests .guests-container tbody {
  position: relative;
}
.guests app-loading {
  text-align: center !important;
  /* background-color: red !important; */
  position: relative !important;
  left: 23rem;
  /* width: 80px; */
  top: -35px !important;

  margin-top: -20px !important;
  margin-bottom: 10px !important;
}
.guests app-loading div {
  height: 5px !important;
}
.guests .container table tbody tr .table-column-styles {
  display: flex;
  align-items: center;
}
.guests .container table tbody tr.active {
  background-color: rgb(107, 172, 172);
  color: #fff;
}

.guests .container table tbody tr.active .btn-edit {
  background-color: rgb(5, 111, 199);
}
a:active {
  background-color: transparent !important;
}
