<div class="guests">
  <div class="guests-heading">
    <span>Manage Ticket</span>
  </div>
  <div class="guests-container">
    <div>
      <app-guest-form
        (isClickSubmit)="clickSubmit($event)"
        [foods]="foods"
      ></app-guest-form>
    </div>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Order</th>
          <!-- <th>Sub Order</th> -->
          <th class="last-col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-guest [ngForOf]="guests" let-idx="index">
          <tr [class.active]="idx === activateIndex" (click)="onClickRow(idx)">
            <td class="table-column-styles">{{ guest.id }}</td>
            <td>{{ guest.name }}</td>
            <ng-template [ngIf]="guest.order.length > 0" [ngIfElse]="elseOrder">
              <td>
                <ng-template
                  ngFor
                  let-order
                  [ngForOf]="guest.order"
                  let-idxFood="index"
                >
                  <ng-template ngFor let-food [ngForOf]="foods">
                    <ng-template [ngIf]="order == food.id">
                      <ng-template
                        [ngIf]="idxFood === guest.order.length - 1"
                        ;
                        [ngIfElse]="elseBlock"
                        >{{ food.name }}.</ng-template
                      >
                      <ng-template #elseBlock>{{ food.name }}, </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </td>
            </ng-template>
            <ng-template #elseOrder>
              <td>
                <i>None</i>
              </td>
            </ng-template>
            <!-- <ng-template
              [ngIf]="guest.subOrder * 1 >= 1"
              [ngIfElse]="elseSubOrder"
            >
              <ng-template ngFor let-food [ngForOf]="foods">
                <td *ngIf="food.id == guest.subOrder">
                  {{ food.name }}
                </td>
              </ng-template>
            </ng-template>
            <ng-template #elseSubOrder
              ><td>
                <i>None</i>
              </td></ng-template
            > -->
            <td>
              <div class="row">
                <a routerLink="/detail/{{ guest.id }}">
                  <button class="btn-edit">
                    <mat-icon>mode</mat-icon>
                  </button>
                </a>

                <button class="btn-remove" (click)="delete(guest)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template [ngIf]="isLoading">
          <app-loading></app-loading>
        </ng-template>
      </tbody>
    </table>
    <!-- </div>
    </div> -->
  </div>
</div>
<mat-icon>facebook</mat-icon>
<mat-icon>delete</mat-icon>
<mat-icon>search</mat-icon>
<mat-icon>done</mat-icon>
<mat-icon>settings</mat-icon>
