<div *ngIf="guest" class="guest-detail">
  <div class="guest-detail-heading">
    <h2>Ticket's {{ guest.name | uppercase }}</h2>
  </div>

  <div class="guest-detail-info">
    <div class="guest-info">
      <div class="guest-detail-info-show">
        <label>id: </label>
        <p>{{ guest.id }}</p>
      </div>
      <div class="guest-detail-info-show">
        <label for="guest-name">Guest Name: </label>
        <p>{{ guest.name }}</p>
      </div>
      <div class="guest-detail-info-show">
        <label for="guest-order">Order: </label>
        <div *ngIf="guest.order != 0 && guest.order; else elseBlock1">
          <div *ngFor="let food of foods">
            <p *ngIf="food.id == guest.order">
              {{ food.name }}
            </p>
          </div>
        </div>
        <ng-template #elseBlock1
          ><div>
            <p><i>Updating...</i></p>
          </div></ng-template
        >
      </div>
      <div class="guest-detail-info-show">
        <label for="guest-order">SubOrder: </label>
        <div *ngIf="guest.subOrder != 0 && guest.subOrder; else elseBlock1">
          <div *ngFor="let food of foods">
            <p *ngIf="food.id == guest.subOrder">
              {{ food.name }}
            </p>
          </div>
        </div>
        <ng-template #elseBlock1
          ><div>
            <p><i>Updating...</i></p>
          </div></ng-template
        >
      </div>
      <!-- <div class="guest-detail-info-show">
          <label for="guest-attack">guest Attack: </label>
          <p *ngIf="guest.attack; else elseBlock">{{ guest.attack }}</p>
          <ng-template #elseBlock
            ><p><i>Updating...</i></p></ng-template
          >
        </div> -->
      <!-- <div class="guest-detail-info-show">
          <label for="guest-defence">guest Defence: </label>
          <p *ngIf="guest.defence; else elseBlock">{{ guest.defence }}</p>
          <ng-template #elseBlock
            ><p><i>Updating...</i></p></ng-template
          >
        </div> -->
    </div>
    <div class="guest-edit">
      <div class="guest-detail-edit-show">
        <label>id: </label>

        <input id="guest-id" [value]="guest.id" placeholder="id" disabled />
      </div>
      <div class="guest-detail-edit-show">
        <label for="guest-name">Guest Name: </label>
        <input id="guest-name" [(ngModel)]="guest.name" placeholder="name" />
      </div>
      <div class="guest-detail-edit-show">
        <label for="guest-ability">Guest Order: </label>
        <select
          id="guest-order"
          [(ngModel)]="guest.order"
          (change)="selectOption($event)"
          required
        >
          <option value="{{ 0 }}"><i>None</i></option>
          <option *ngFor="let food of foods" [value]="food.id">
            {{ food.name }}
          </option>
        </select>
      </div>
      <div class="guest-detail-edit-show">
        <label for="guest-order">Guest SubOrder: </label>
        <select
          id="guest-subOrder"
          [(ngModel)]="guest.subOrder"
          (change)="selectOption($event)"
          required
        >
          <option value="{{ 0 }}"><i>None</i></option>
          <option *ngFor="let food of foods" [value]="food.id">
            {{ food.name }}
          </option>
        </select>
      </div>
      <!-- <div class="guest-detail-edit-show">
        <label for="guest-attack">guest Attack: </label>
        <input
          id="guest-attack"
          [(ngModel)]="guest.attack"
          placeholder="Attack"
        />
      </div> -->
      <!-- <div class="guest-detail-info-show">
        <label for="guest-defence">guest Defence: </label>
        <input
          id="guest-defence"
          [(ngModel)]="guest.defence"
          placeholder="Defence"
        />
      </div> -->
    </div>
  </div>
  <div class="guest-info-submit-btn">
    <button type="button" (click)="save()">save</button>
    <button type="button" (click)="goBack()">back</button>
  </div>
</div>
