<div *ngIf="guest" class="guest-detail">
  <div class="guest-detail-heading">
    <h2>{{ guest.name | uppercase }}'s Ticket</h2>
  </div>

  <div class="guest-detail-info">
    <div class="guest-edit" *ngIf="!isHideEdit">
      <form [formGroup]="formValues" (ngSubmit)="onSubmit()">
        <div class="guest-detail-edit-show">
          <label>ID: </label>

          <input id="guest-id" [value]="guest.id" placeholder="id" disabled />
        </div>
        <div class="guest-detail-edit-show">
          <label for="guest-name">Guest Name: </label>
          <input id="guest-name" formControlName="name" placeholder="name" />
        </div>
        <!-- <div class="guest-detail-edit-show">
          <label for="guest-ability">Guest Order: </label>
          <select
            id="guest-order"
            [(ngModel)]="guest.order"
            formControlName="order"
            (change)="selectOption($event)"
            required
          >
            <option value="{{ 0 }}"><i>None</i></option>
            <option *ngFor="let food of foods" [value]="food.id">
              {{ food.name }}
            </option>
          </select>
        </div> -->
        <div class="guest-detail-edit-show">
          <label for="guest-order">Guest Order: </label>
          <mat-form-field>
            <mat-select
              placeholder="Select food(s)"
              multiple
              [(value)]="listOrderUpdate"
              formControlName="order"
            >
              <mat-option *ngFor="let food of foods" [value]="food.id">{{
                food.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="guest-info-submit-btn">
          <button type="button" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            type="button"
            (click)="save()"
            [disabled]="
              guest.name == '' || guest.order == 0 || !formValues.valid
            "
          >
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="guest-info">
      <div class="guest-detail-info-show">
        <label>ID: </label>
        <p>{{ guest.id }}</p>
      </div>
      <div class="guest-detail-info-show">
        <label for="guest-name">Guest Name: </label>
        <p>{{ guest.name }}</p>
      </div>
      <div class="guest-detail-info-show info-orderlist last">
        <label for="guest-order">Order: </label>

        <!-- <div *ngIf="guest.order.length > 0; else elseBlock1">
          <ng-template ngFor let-order [ngForOf]="guest.order">
            <ng-template [ngIf]="order==food.id"></ng-template>
            <div *ngFor="let food of foods">
              <p *ngIf="food.id == order">{{ food.name }},</p>
            </div>
          </ng-template>
        </div> -->
        <div *ngIf="guest.order.length > 0; else elseBlock1">
          <ng-template
            ngFor
            let-order
            [ngForOf]="guest.order"
            let-idxFood="index"
          >
            <ng-template ngFor let-food [ngForOf]="foods">
              <ng-template [ngIf]="order == food.id">
                <div>
                  <p>
                    <ng-template
                      [ngIf]="idxFood === guest.order.length - 1"
                      ;
                      [ngIfElse]="elseBlock"
                      >{{ food.name }}.</ng-template
                    >
                    <ng-template #elseBlock>{{ food.name }},</ng-template>
                  </p>
                </div>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
        <ng-template #elseBlock1
          ><div>
            <p><i>Updating...</i></p>
          </div></ng-template
        >
      </div>
      <!-- <div class="guest-detail-info-show">
        <label for="guest-order">SubOrder: </label>
        <div *ngIf="guest.subOrder != 0 && guest.subOrder; else elseBlock1">
          <div *ngFor="let food of foods">
            <p *ngIf="food.id == guest.subOrder">
              {{ food.name }}
            </p>
          </div>
        </div>
        <ng-template #elseBlock1
          ><div>
            <p><i>Updating...</i></p>
          </div></ng-template
        >
      </div> -->
    </div>
  </div>
</div>
